<!DOCTYPE html>
<html lang="en">
<head>
    <title>Undiq-test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form class="form-horizontal" role="form" method="POST" action="/save_email">
        <br><br>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Enter your data</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="exampleInputEmail1">Email address</label>
                            <input class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                            {% if error is not empty %}
                                <br><br>
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-6">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>